@font-face {
  font-family: 'Halvar';
  src: url('./fonts/HalvarBreit-Lt.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #7e7e7e;
  overflow: hidden;
  font-family: 'Halvar';
}

html{
  scroll-behavior: smooth;
}

.App {
  border-radius: 15px;
  text-align: center;
  width: 100%;
}

h1 {
  font: 4rem 'Halvar';
  color: white;
  user-select: none;
}

h1:hover {
  color: linear-gradient(20deg, #801FDB, #BE1FDB);
}

.main-container {
  width: 100vw;
  display: flex;
  justify-content: space-between;
}

.input-container {
  display: flex;
  flex-direction: column;
}

.content{
  width: 50%;
  height: 70vh;
  border-radius: 30px;
  box-shadow: 0 0px 2px rgba(0, 0, 0, 0.4);
  overflow: hidden;
  transform: translateX(50%);
  transition: all 0.8s ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgba(217, 217, 217, 1);
  gap: 0%;
}

.content.shifted {
  width: 40%;
  transform: translateX(10%);
}

.text-input {
  width: 96%;
  height: 59vh;
  border: none;
  font-size: 1.4rem;
  outline: none;
  transition: all 0.3s ease;
  overflow-wrap: break-word;
  white-space: normal;
  line-height: 1.5;
  padding: 3% 5% 0 4%;
  padding-bottom: 0;
  text-align: left;
  vertical-align: top;
  background-color: rgba(217, 217, 217, 1);
  color: rgba(69, 69, 69, 1);
}

.actions-container{
  width: 100%;
  display: flex;
  justify-content:space-between;
  padding: 1% 0 2% 0;
  align-items: center;
}

.import-button {
  padding: 1.5% 3%;
  background: rgba(198, 68, 68, 1);
  color: white;
  font-size: 1.7rem;
  margin-left: 3%;
  border: none;
  border-radius: 40px;
  cursor: pointer;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
}

.import-button:hover {
  transform: translateY(-5px);
}

.import-button:active {
  transform: translateY(5px);
}

.word-counter {
  font-size: 1.5rem;
}

.check-button {
  padding: 1.5% 5%;
  margin-right: 3%;
  background: rgba(198, 68, 68, 1);
  color: white;
  font-size: 1.7rem;
  font-family: 'Halvar';
  border: none;
  border-radius: 40px;
  cursor: pointer;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
}

.check-button:hover {
  transform: translateY(-5px);
}

.check-button:active {
  transform: translateY(2px);
}

.result-container {
  width: 50%;
  height: 70vh;
  background-color: rgba(217, 217, 217, 1);
  border-radius: 30px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  opacity: 0;
  transition: all 0.8s ease-in-out;
  transform: translateX(100%);
}

.result-container.visible {
  opacity: 1;
  transform: translateX(-5%);
}

.analysis-result{
  font-size: 1rem;
  padding: 5%;
}

.mood-chart{
  width: 50%;
  height: 60vh;
}

.mood-chart-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.analysis-result h3{
  font-size: 1.5rem;
  color: white;
}

.emotion-icon {
  font-family: 'Apple Color Emoji', 'Segoe UI Emoji', 'Noto Color Emoji';
  font-size: 3rem;
  user-select: none;
}

.emotion-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5%;
  padding-bottom: 5%;
  width: 100%;
}

.progressBar{
  background-color: rgba(198, 68, 68, 1);
  border-radius: 2rem;
}

.progressContainer{
  width: 15vw;
  height: 4vh;
  background-color: rgba(197, 190, 190, 1);
  border-radius: 2rem;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}

.progressContainer:hover{
  transform: scale(1.05);
}

.error {
  color: red;
  font-size: 3rem;
}


@media screen and (max-width: 1900px) {
  body{
    overflow: visible;
  }
  .App {
    overflow: visible;
  }
  .main-container{
    flex-direction: column;
    align-items: center;
    overflow: visible;
  }

  .content{
    width: 70%;
    transform: translateX(0);
  }

  .content.shifted {
    width: 70%;
    transform: translateX(0);
    margin-bottom: 5%;
  }
  
  .actions-container{
    width: 100%;
    padding: 0% 0 2% 0;
    align-items: center;
  }

  .result-container {
    width: 70%;
    transform: translateX(0);
  }

  .result-container.visible {
    transform: translateX(0);
  }
}