body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

html{
  scroll-behavior: smooth;
}

.App {
  padding: 40px;
  border-radius: 15px;
  text-align: center;
  width: 100%;
}

h1 {
  color: black;
  margin-bottom: 30px;
  font-size: 5rem;
}

.input-container {
  display: flex;
  flex-direction: column;
}

.content{
  width: 1400px;
  border: 2px solid #ddd;
  border-radius: 30px;
  box-shadow: 0 0px 2px rgba(0, 0, 0, 0.4);
  overflow: hidden;
}

.text-input {
  width: 96%;
  height: 800px;
  border: none;
  font-size: 2.5rem;
  outline: none;
  transition: all 0.3s ease;
  overflow-wrap: break-word;
  white-space: normal;
  line-height: 1.5;
  padding: 40px;
  text-align: left;
  vertical-align: top;
}

.actions-container{
  width: 100%;
  display: flex;
  justify-content:space-between;
  padding: 30px;
  padding-bottom: 10px;
  align-items: center;
}

.import-button {
  padding: 15px 35px;
  background: linear-gradient(135deg, #6a0dad, #ff00ff);
  color: white;
  font-size: 1.5rem;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
}

.import-button:hover {
  transform: translateY(-5px);
}

.import-button:active {
  transform: translateY(5px);
}

.word-counter {
  font-size: 1.5rem;
}

.check-button {
  padding: 15px 70px;
  margin-right: 40px;
  background: linear-gradient(135deg, #6a0dad, #ff00ff);
  color: white;
  font-size: 1.5rem;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
}

.check-button:hover {
  transform: translateY(-5px);
}

.check-button:active {
  transform: translateY(2px);
}

.result-container {
  width: 1400px;
  padding-top: 10px;
  background-color: #fff;
  border-radius: 30px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  opacity: 0;
  transition: all 0.8s ease-in-out;
  transform: translateX(-100%);
  /* display: none; */
  margin-top: 10%;
}

.result-container.visible {
  display: block;
  opacity: 1;
  transform: translateX(0);
}

.analysis-result{
  font-size: 1.5rem;
  padding: 5%;
  padding-top: 1%;
}

.mood-chart{
  width: 100%;
  height: 100%;
  padding-bottom: 10%;
}

.mood-chart-container{
  display: flex;
  justify-content: space-between;
}

.analysis-result canvas{
  width: 100%;
  height: 100%;
}

.analysis-result h3{
  font-size: 2rem;
  
}

.emotion-icon {
  font-size: 3rem;
}

.emotion-row {
  display: flex;
  align-items: center;
  padding-bottom: 5%;
}

.emotion-label {
  font-size: 2rem;
  padding-right: 10px;
  width: 100px;
}

.squares-container {
  display: flex;
  margin-left: 10px;
}

.square {
  width: 2.5rem;
  height: 2.5rem;
  margin-right: 5px;
  border: 1px solid #ccc;
  border-radius: 10px;
}

.square.filled {
  background-color: #4caf50; /* Заполненный квадрат */
}

.square.empty {
  background-color: transparent; /* Пустой квадрат */
}
